@import "src/styles/vars";

.stage {
  padding: $spacing-16 * 4 $spacing-16 $spacing-16;
  background-color: $primary-color;
  height: 100%;

  hgroup {
    h1,
    h2, h3, h4 {
      margin: 0 auto;
      background: $colorful;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: 100%;
      white-space: nowrap;
    }

    h1,
    h2, h3, h4 {
      font-size: clamp(1.5rem, 9vw, 12vw);
    }
  }
}
