@import "src/styles/vars";

.photo {
  padding: $spacing-16 * 4 $spacing-16 $spacing-16 * 3;
  position: relative;
  background-color: $primary-color;
  color: $white;

  .photo__headline {
    font-size: 2.6em;
    margin: 0 0 1.5em 0;
  }

  .photo__photo-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 1rem;
  }
}
