@import 'src/styles/vars.scss';

nav {
  background-color: $primary-color;
  color: $white;
  font-weight: 300;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
}

ul {
  margin: 0;
  padding: 0;
}

/* clearfix */
ul::after{
  content: '';
  display: block;
  clear: both;
}

li {
  display: block;
  float: left;
}

[aria-current] {
  position: relative;
  display: inline-block;
}

[aria-current]::after {
  position: absolute;
  content: '';
  width: calc(100% - 1em);
  height: 7px;
  background-color: $secondary-color;
  display: block;
  bottom: -1px;
}

a {
  text-decoration: none;
  padding: 1em 0.5em;
  display: block;
}

.social-icon {
  position: relative;
}

.icon {
  height: 1.5rem;
}

