@import 'src/styles/vars.scss';

nav {
  background-color: $primary-color;
  color: $white;
  font-weight: 300;
  padding: 0 $spacing-16;
  display: flex;
  justify-content: space-between;

  .nav-ul {
    display: flex;
    justify-content: space-between;
    width: 100%;

    ul {
      display: flex;
      margin: 0;
      padding: 0;
    }

    li {
      display: block;
    }
  }

  #menu-toggle {
    display: none;
  }

  .menu-button-container {
    display: none;
    height: auto;
    width: 1.875rem;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
      width: 4rem;
      height: 3rem;
      top: 0.438rem;
      left: -1.063rem;
      stroke: $white;
      stroke-width: 0.125rem;
      stroke-linecap: square;
      stroke-linejoin: arcs;
      fill: none;
      display: block;
      position: absolute;

      path {
        transition: stroke-dasharray var(--duration, .85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, .85s) var(--easing, ease) var(--delay, 0s);
        stroke-dasharray: var(--array-1, 1.625rem) var(--array-2, 6.25rem);
        stroke-dashoffset: var(--offset, 7.875rem);
        transform: translateZ(0);

        &:nth-child(2) {
          --duration: .7s;
          --easing: ease-in;
          --offset: 6.25rem;
          --array-2: 3.813rem;
        }

        &:nth-child(3) {
          --offset: 8.313rem;
          --array-2: 6.688rem;
        }
      }
    }
  }


  #menu-toggle:checked + .menu-button-container {
    svg {
      stroke: $secondary-color;
      path {
        --offset: 3.563rem;
        &:nth-child(1),
        &:nth-child(3) {
          --delay: .15s;
          --easing: cubic-bezier(.2, .4, .2, 1.1);
        }
        &:nth-child(2) {
          --duration: .4s;
          --offset: 0.125rem;
          --array-1: 0.063rem;
        }
        &:nth-child(3) {
          --offset: 3.625rem;
        }
      }
    }
  }


  @media (max-width: 900px) {
    .menu-button-container {
      display: flex;
      position: relative;
    }
    .nav-ul {
      position: absolute;
      top: 0;
      margin-top: 3.125rem;
      left: 0;
      width: 100%;
      display: block;

      ul {
        flex-direction: column;
      }
    }

    #menu-toggle ~ .nav-ul li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .nav-ul {
      top: 3.5rem;
      margin-top: 0;
      z-index: 1;
    }

    #menu-toggle:checked ~ .nav-ul ul {
      display: flex;
      flex-direction: column;
      width: 100%;

      &:last-child {
        flex-direction: row;
      }
    }

    #menu-toggle:checked ~ .nav-ul li {
      height: $spacing-16 * 3.5;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .nav-ul ul > li {
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 0;
      padding: $spacing-16 * 0.5 0;
      width: 100%;
      color: $white;
      background-color: $primary-color;
    }

    a {
      text-align: center;
      img {
        margin: 0 auto;
      }
    };
  }
}


[aria-current] {
  position: relative;
  display: inline-block;
}

[aria-current]::after {
  position: absolute;
  content: '';
  width: calc(100% - 1rem);
  height: 0.438rem;
  background-color: $secondary-color;
  display: block;
  bottom: 0.563rem;
}

a {
  text-decoration: none;
  padding: $spacing-16  $spacing-16 * 0.5;
  display: block;
}

.social-icon {
  position: relative;
}

.icon {
  height: $spacing-16 * 1.5;
}

